---
layout: default
---

<div class="home">
    <div ng-controller="AndersonPostContoller">
        <script>
            var global_post_data = [{% for post in site.posts %}
            {"date":"{{post.date}}", "categories": ["{{post.categories}}"], "url": "{{post.url}}", "title": "{{post.title}}", "tags":{{post.tags | jsonify}} }, {% endfor %}];
        </script>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" ng-model="searchText">

            <div style="font-family:'Jeju Gothic', serif;color:#D50F36; margin-top:5px;">
                {(bible_statement)}
            </div>
        </div>

        <h1>Posts</h1>
        <ul class="posts" ng-cloak>
            {{post_data}}
            <li ng-repeat="post in posts |filter:searchText">
                <span class="post-date">{( post.date | andersonDate )} </span> -
                <span class="post-category" ng-repeat="category in post.categories">{(category)} </span>

                <div>
                    <a class="post-link post-tag" href="{( post.url )}" data-toggle="popover"
                       tooltip='{(post.tags | tagFilter)}'
                       tooltip-placement="right"
                       data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                        {(post.title)}
                    </a>
                </div>
            </li>
        </ul>
        <!--
        <br>
        <h1>Libraries</h1>
        <ul class="posts">
            <li>
                <a href="https://bitbucket.org/jochangmin/django-email-user" target="_library">
                    <span class="post-link post-tag">Django Email Auth</span>
                </a>
            </li>
        </ul>
        -->
    </div>
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    <style>
        .posts .tooltip-inner {
            color: #fff;
            font-size: 1.2em;
            background-color: #0A4183;
            box-shadow: 0 6px 12px rgba(0, 0, 0, .25);

            -webkit-animation: fadein 0.3s; /* Safari, Chrome and Opera > 12.1 */
            -moz-animation: fadein 0.3s; /* Firefox < 16 */
            -ms-animation: fadein 0.3s; /* Internet Explorer */
            -o-animation: fadein 0.3s; /* Opera < 12.1 */
            animation: fadein 0.3s;
        }
    </style>
</div>


