<footer class="site-footer">
    <div class="wrap simple_profile">
        <div class="row">
            <div class="col-md-3">
                <img src="/assets/images/me.jpg">
            </div>
            <div class="col-md-9" style="vertical-align: top;">
                <h2 style="margin-top:0px;">Anderson Jo</h2>
                <span style="color:#990000">
                Artificial Intelligence Researcher
            </span>
                <br>
                Email: <i style="color:#0086B3">a141890@gmail.com</i><br>
                Kakao Talk: <i style="color:#0086B3">anderson52</i><br>
            </div>
        </div>

    </div>
</footer>

