<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <meta name="google-site-verification" content="40ZadW1orzpyq56pfyEBP5dS5CmpuIEwloYHEtDlwqU" />
    <meta name="naver-site-verification" content="3b75d74aca40f93b3790adf47dd7e509fb377b06"/>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">

    <!-- Bootstrap -->

    <link rel="stylesheet" href="{{ "/assets/bootstrap-4.0.0-beta.2-dist/css/bootstrap.css" | prepend: site.baseurl}}">
    <link rel="stylesheet" href="{{ "/assets/font-awesome-4.7.0/css/font-awesome.css" | prepend: site.baseurl}}" >
    <script src="{{ "/assets/jquery/dist/jquery.min.js" | prepend: site.baseurl}}"></script>

    <!-- Bootstrap -->
    <script src="{{ "/assets/bootstrap-4.0.0-beta.2-dist/js/bootstrap.bundle.js" | prepend: site.baseurl}}"></script>



    <!-- Angular -->
    <script src="{{ "/assets/angular/angular.min.js" | prepend: site.baseurl}}"></script>
    <script src="{{ "/assets/angular-bootstrap-ui-0.13.4/ui-bootstrap-tpls-0.13.4.min.js" | prepend: site.baseurl}}"></script>
    <script src="{{ "/assets/angular-route/angular-route.min.js" | prepend: site.baseurl}}"></script>

    <script src="{{ "/assets/anderson/main.js" | prepend: site.baseurl}}"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-52517840-2', 'auto');
      ga('send', 'pageview');
    </script>

    <!-- MathJax -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>

    <script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "none" } } }); </script>
       <script type="text/x-mathjax-config">
         MathJax.Hub.Config({
           tex2jax: {
             inlineMath: [ ['$$','$$'], ["\\(","\\)"] ],
             processEscapes: true
           }
         });
       </script>
       <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>


    <!-- Google Fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumpenscript.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/jejugothic.css">
</head>

